<div class="header">
   
    <mat-toolbar color="warn">
        <mat-toolbar-row>
          <span>ABC News</span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
            <a mat-button routerLink='/'> Home </a>
            <a mat-button routerLink=''> News </a>
            <a mat-button routerLink=''> National News </a>
            <a mat-button routerLink=''> State News </a>
            <a mat-button routerLink=''> Sports </a>
            <a mat-button routerLink=''> Health </a>
            <a mat-button routerLink=''> Entertainment </a>
          <span class="example-spacer"></span>
          <a mat-button routerLink='/signup'> signup </a>
          <a mat-button routerLink='/login'> Login </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>